html(lang="ru")
    head
        meta(charset="utf-8")
        title="WebChat"
        link(rel="stylesheet" type="text/css" href="./loginPageStyles.css")
    body
        div(class ="pageContainer")
            div(class= "contentContainer")
                div(class="logo")= "Картинка"
                form(class="form")
                    div(class="inputContainer")
                        p(class="inputDescription")= "Логин"
                        input(class="input" value="konstantinopolskiykonstantin@yandex.ru")
                    div(class="inputContainer")
                        p(class="inputDescription")= "Пароль"
                        input(class="passwordInput" value="**********")
                    button(class="formButton")
                        a(href="../profilePageModules/profilePage.pug")= "Войти"
                a(class="linkText", href="../registrationPageModules/registrationPage.pug")= "Восстановить пароль"
                a(class="linkText", href="../registrationPageModules/registrationPage.pug")= "Создать аккаунт"

