html(lang="ru")
    head
        meta(charset="utf-8")
        title="WebChat"
        link(rel="stylesheet" type="text/css" href="./chatPageStyles.css")
    body
        main(class="pageContainer")
            div(class="listOfChats")
                a(href="../profilePageModules/profilePage.pug")= "Профиль"
                p= "Список чатов"
                div(class= "chatContainer")
                    img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                    div(class= "infoContainer")
                        p(class="opData")= "Геннадий Бурков"
                        p(class="lastMessage")= "Пойдём гулять"

                    div(class="secondInfoContainer")
                        div(class="lastMessageDate")= "12:01"
                        div(class="mesIndContainer")= 1

            div(class="chat")= "Выберите чат, чтобы начать общаться"

