html(lang="ru")
    head
        meta(charset="utf-8")
        title="WebChat"
        link(rel="stylesheet" type="text/css" href="./chatPageStyles.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0")
    body
        main(class="pageContainer")
            div(class="listOfChats")
                a(class="profileLink", href="../profilePageModules/profilePage.pug")= "Профиль"
                p(class="chatsHeader")= "Список чатов"
                div(class="chatContainer")
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1
                    div(class= "chat")
                        img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                        div(class= "infoContainer")
                            p(class="opData")= "Геннадий Бурков"
                            p(class="lastMessage")= "Пойдём гулять"
                        div(class="secondInfoContainer")
                            div(class="lastMessageDate")= "12:01"
                            div(class="mesIndContainer")= 1

            div(class="chatExContainer")
               if false
                    p(class="startP")= "Выберите чат, чтобы начать общаться"
               else
                   div(class="chatHeader")
                       img(class= "logo" src="https://img5.goodfon.ru/original/3000x2000/2/d7/kot-koshka-ryzhii-vzgliad-morda-fon-zelenye-glaza-kote-ko-13.jpg")
                       p(class="friendLogin")= "Константинопольский Константин Константинович"
                       span(class="material-symbols-outlined")="more_vert"
                   div(class="chatMainPart")
                       div(class="chatMainPartArea")
                            div(class="friendMessageContainer")
                                 p(class="messageText")="Аналогия, конечно, откровенна. Интересно отметить, что гравитационный парадокс решительно раскладывает на элементы неоднозначный дедуктивный метод, tertium nоn datur. Позитивизм выводит закон исключённого третьего, отрицая очевидное. Платоновская академия, как следует из вышесказанного, амбивалентно подрывает гений, не учитывая мнения авторитетов. Заблуждение порождает и обеспечивает трансцендентальный дуализм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения."
                                 p(class="messageTime")="11:59"
                            div(class="myMessageContainer")
                                 p(class="messageText")="Очень приятно)"
                                 p(class="messageTime")= "12:01"
                            div(class="friendMessageContainer")
                                 p(class="messageText")="Аналогия, конечно, откровенна. Интересно отметить, что гравитационный парадокс решительно раскладывает на элементы неоднозначный дедуктивный метод, tertium nоn datur. Позитивизм выводит закон исключённого третьего, отрицая очевидное. Платоновская академия, как следует из вышесказанного, амбивалентно подрывает гений, не учитывая мнения авторитетов. Заблуждение порождает и обеспечивает трансцендентальный дуализм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения."
                                 p(class="messageTime")="11:59"
                            div(class="myMessageContainer")
                                 p(class="messageText")="Очень приятно)"
                                 p(class="messageTime")= "12:01"
                            div(class="friendMessageContainer")
                               p(class="messageText")="Аналогия, конечно, откровенна. Интересно отметить, что гравитационный парадокс решительно раскладывает на элементы неоднозначный дедуктивный метод, tertium nоn datur. Позитивизм выводит закон исключённого третьего, отрицая очевидное. Платоновская академия, как следует из вышесказанного, амбивалентно подрывает гений, не учитывая мнения авторитетов. Заблуждение порождает и обеспечивает трансцендентальный дуализм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения."
                               p(class="messageTime")="11:59"
                            div(class="myMessageContainer")
                               p(class="messageText")="Очень приятно)"
                               p(class="messageTime")= "12:01"
                            div(class="friendMessageContainer")
                               p(class="messageText")="Аналогия, конечно, откровенна. Интересно отметить, что гравитационный парадокс решительно раскладывает на элементы неоднозначный дедуктивный метод, tertium nоn datur. Позитивизм выводит закон исключённого третьего, отрицая очевидное. Платоновская академия, как следует из вышесказанного, амбивалентно подрывает гений, не учитывая мнения авторитетов. Заблуждение порождает и обеспечивает трансцендентальный дуализм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения."
                               p(class="messageTime")="11:59"
                            div(class="myMessageContainer")
                               p(class="messageText")="Очень приятно)"
                               p(class="messageTime")= "12:01"
                            div(class="myMessageContainer")
                               p(class="messageText")="Очень приятно)"
                               p(class="messageTime")= "12:01"
                            div(class="friendMessageContainer")
                               p(class="messageText")="Аналогия, конечно, откровенна. Интересно отметить, что гравитационный парадокс решительно раскладывает на элементы неоднозначный дедуктивный метод, tertium nоn datur. Позитивизм выводит закон исключённого третьего, отрицая очевидное. Платоновская академия, как следует из вышесказанного, амбивалентно подрывает гений, не учитывая мнения авторитетов. Заблуждение порождает и обеспечивает трансцендентальный дуализм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения."
                               p(class="messageTime")="11:59"

                   div(class="chatFooter")
                       input(type="text", class="messageInput" placeholder="Введите сообщение")
                       button(class="inputMessageButton")
                           span(class="material-symbols-outlined")= "arrow_forward"
