html(lang="ru")
    head
        meta(charset="utf-8")
        title="WebChat"
        link(rel="stylesheet" type="text/css" href="./editProfilePageStyles.css")
    body
        div(class = "pageContainer")
            main(class = "formContainer")
                form(class = "form")
                    div(class = "inputContainer")
                        p(class = "inputDescription")= "Имя"
                        input(class = "textInput" value="Пётр")
                    div(class = "inputContainer")
                        p(class = "inputDescription")= "Фамилия"
                        input(class = "textInput" value="Кротов")
                    div(class = "inputContainer")
                        p(class = "inputDescription")= "Логин"
                        input(class = "textInput" value="konstantinopolskyKonstantin300")
                    div(class = "inputContainer")
                        p(class = "inputDescription" )= "Эл. почта"
                        input(class = "textInput" value="konstantinopolskyKonstantin@yandex.ru")
                    div(class = "inputContainer")
                        p(class = "inputDescription")= "Телефон"
                        input(class = "textInput" value="88005553535")
                    button(class="formButton")
                        a(href= "../profilePageModules/profilePage.pug")= "Сохранить"
                a(class = "linkText", href="../profilePageModules/profilePage.pug")= "Отмена"
